<br>
<div>
    <a href="{% url 'home' %}">Главная</a> |

    {#  /complex_example/42/ #}
    <a href="{% url 'complex_example' 42 %}"
        title="Использование встроенных тегов Django, статических файлов">
        Комплексный пример
    </a> |

    {# пример передачи параметров в строке запроса - GET-параметры, можно использовать в формах тоже #}
    <a href="/query_params/?id=42&name=галоши резиновые River Boat&price=120&amount=12"
        title="Передача параметров через строку запроса">
        Параметры строки запроса
    </a> |

    {# Пример формы ввода данных #}
    <a href="/get_user_form/"
        title="Пример формы ввода в стиле HTML">
        Ввод в форме
    </a>
</div>
<hr>