<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- #region Стили -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <!-- #endregion -->

    <!-- #region Скрипты -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- #endregion -->

    <!-- заголовок -->
    <title>Главная</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top shadow">
    <div class="container-fluid justify-content-center">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">

                <!-- Главная -->
                <li class="nav-item">
                    <a class='nav-link mx-3 active' href="/index/">
                        Главная
                    </a>
                </li>

                <!-- Евклид -->
                <li class="nav-item">
                    <a class='nav-link mx-3' href="/euclide/">
                        Евклид
                    </a>
                </li>

                <!-- О разработчике -->
                <li class="nav-item">
                    <a class='nav-link mx-3' href="/about/">
                        О разработчике
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Контент -->
<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 min-vh-100 p-3">

    <!-- Техническое задание -->
    <div>
        <button class="btn btn-outline-primary my-2" data-bs-toggle="collapse" href="#collapseTask" role="button"
                aria-expanded="false"
                aria-controls="collapseTask">
            <span class="h5">Техническое задание</span>
        </button>
        <div class="collapse px-5 py-2" id="collapseTask">

            <!-- Теоретическая часть -->
            <div>
                <button class="btn btn-outline-success my-2" data-bs-toggle="collapse" href="#collapseTheory"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseTheory">
                    <span class="h5">Теоретическая часть</span>
                </button>
                <div class="collapse show" id="collapseTheory">
                    <ul>
                        <li>Введение в Django</li>
                        <li>Создание виртуального окружения</li>
                        <li>Установка Django</li>
                        <li>Создание проекта Django</li>
                        <li>Создание приложения Django</li>
                        <li>Запуск сервера разработки</li>
                    </ul>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Практическая часть -->
            <div>
                <button class="btn btn-outline-success my-2" data-bs-toggle="collapse" href="#collapsePractice"
                        role="button" aria-expanded="false"
                        aria-controls="collapsePractice">
                    <span class="h5">Практическая часть</span>
                </button>

                <div class="collapse show" id="collapsePractice">

                    <!-- #region Задание 1 -->
                    <p>
                        <b>Задача 1</b>. Создайте проект Django, в нем приложение Django <b>calc</b> со следующими
                        маршрутами:
                    </p>

                    <ul>
                        <li>
                            <b>index/</b> – вывод страницы со списком времен года с вложенными списками –перечислениями
                            названий месяцев времен года
                        </li>
                        <li><b>euclide/</b> - вывод страницы с именем математика Эвклида и датами его жизни</li>
                        <li><b>about/</b> – сведения о разработчике</li>
                    </ul>

                    <p>
                        Статические файлы (стили, картинки) применять не надо
                    </p>
                    <!-- #endregion -->
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Дополнительно -->
            <div>
                <div>
                    <button class="btn btn-outline-success my-2" data-bs-toggle="collapse" href="#collapseAdditionally"
                            role="button" aria-expanded="false"
                            aria-controls="collapseAdditionally">
                        <span class="h5">Дополнительно</span>
                    </button>

                    <div class="collapse show" id="collapseAdditionally">
                        <p>
                            Материалы занятия в этом же архиве. Запись занятия можно скачать
                            <a href="https://cloud.mail.ru/public/5Z2J/1DSEo8t9N" target="_blank">по этой ссылке</a>.
                            Запись консультации с успешным созданием проекта Django с двумя приложениями (по сути помощь
                            по ДЗ) качаем
                            <a href="https://cloud.mail.ru/public/jFnq/38PmVVmmM" target="_blank">по этой ссылке</a>.
                        </p>

                        <p>В архиве django_curses_1.zip проект с одним приложением.</p>

                        <p>В архиве django_curses_2.zip проект с двумя приложениями.</p>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </div>
    <!-- #endregion -->

    <!-- Работа по заданию. Список времен года с вложенными списками – перечислениями названий месяцев времен года -->
    <ul>
        <li>
            Зима
            <ul>
                <li>Декабрь</li>
                <li>Январь</li>
                <li>Февраль</li>
            </ul>
        </li>
        <li>
            Весна
            <ul>
                <li>Март</li>
                <li>Апрель</li>
                <li>Май</li>
            </ul>
        </li>
        <li>
            Лето
            <ul>
                <li>Июнь</li>
                <li>Июль</li>
                <li>Август</li>
            </ul>
        </li>
        <li>
            Осень
            <ul>
                <li>Сентябрь</li>
                <li>Октябрь</li>
                <li>Ноябрь</li>
            </ul>
        </li>
    </ul>
</section>

<!-- Подвал -->
<footer class="bg-dark shadow fs-6 text-white-50 p-5 pb-2">
    <p>
        Разработчик:
        <a href="https://github.com/MikhailGoriachev" target="_blank">
            <b>Горячев Михаил</b>
        </a>
    </p>
    <p>Группа: <b>ПД011</b></p>
    <p>Город: <b>Донецк</b></p>
    <p>Год создания: <b>2023</b></p>
    <p>
        Поддержка:
        <a href="mailto:goriachevmichael@gmail.com">
            <b>goriachevmichael@gmail.com</b>
        </a>
    </p>
</footer>

</body>
</html>