{% load static %}
{% include '_header.html' with index_active='active' title='Главная' %}

<!-- Контент -->
<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 min-vh-100 p-3">
    <div>
        <button class="btn btn-outline-primary my-2" data-bs-toggle="collapse" href="#collapseTheory" role="button"
                aria-expanded="false"
                aria-controls="collapseTheory">
            <span class="h5">Теоретическая часть</span>
        </button>
        <div class="collapse show" id="collapseTheory">
            <ul>
                <li>Создание проекта и приложения Django в среде PyCharm</li>
                <li>Использование класса TemplateView для отображения шаблона из urls.py проекта</li>
                <li>Задание имени маршрута и дополнительных параметров представления в функции path()</li>
                <li>Передача параметров в шаблон из метода представления</li>
                <li>Передача параметров в маршруте, ограничения типов параметров в маршруте</li>
                <li>Вывод полученных из представления данных в шаблоне, конструкция &#123;&#123; &#125;&#125;</li>
                <li>Встроенные теги рендеринга: условный, цикл, комментарий</li>
                <li>Подключение статических файлов в приложение</li>
                <li>Встроенный тег (фильтр) для подключения разметки, &#123;% include %&#125;</li>
                <li>Передача параметров в подключаемую разметку</li>
            </ul>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Практическая часть -->
    <div>
        <button class="btn btn-outline-primary my-2" data-bs-toggle="collapse" href="#collapsePractice"
                role="button" aria-expanded="false"
                aria-controls="collapsePractice">
            <span class="h5">Практическая часть</span>
        </button>

        <div class="collapse show" id="collapsePractice">

            <p>
                <b>Задача 1</b>. Создайте проект Django, в нем приложение Django calc со следующими маршрутами:
            </p>

            <ul>
                <li><b>index/</b> – вывод этого задания</li>
                <li><b>about/</b> – вывод сведений о разработчике</li>
                <li><b>sort/string/number1/number2/number3/</b> – в зависимости от значения строкового параметра
                    ("ascend" или "descend") сортировка трех чисел по возрастанию или по убыванию соответственно. Не
                    используйте агрегатные типы данных
                </li>
                <li><b>nod/number1/number2/</b> – вычисление наибольшего общего делителя по алгоритму Евклида (примените
                    рекурсивную реализацию алгоритма, в шаблоне выведите изображение этого самого Евклида)
                </li>
                <li><b>insertlast/string1/string2/string3/</b> – в строку string1 вставляет подстроку string3 после
                    последнего вхождения подстроки string2
                </li>
                <li><b>replacefirst/string1/string2/string3/</b> – в строке string1 заменяет первое вхождение подстроки
                    string2 на подстроку string3
                </li>
                <li><b>deletelast/string1/string2/</b> – из строки string1 удаляет последнее вхождение подстроки string2
                </li>
                <li><b>employee/id/name/salary/</b> – выводит данные работника, в том числе и фото из статического файла
                    (имя файла формируйте в представлении, из id)
                </li>
                <li><b>product/id/name/quantity/price/</b> – выводит данные товара, в том числе и фото из статического
                    файла (имя файла формируйте в представлении, из id)
                </li>
            </ul>

            <p>Используйте статические файлы в шаблонах (стили, изображения, …), включаемые блоки разметки.</p>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <div>
        <div>
            <button class="btn btn-outline-primary my-2" data-bs-toggle="collapse" href="#collapseAdditionally"
                    role="button" aria-expanded="false"
                    aria-controls="collapseAdditionally">
                <span class="h5">Дополнительно</span>
            </button>

            <div class="collapse show" id="collapseAdditionally">
                <p>
                    Материалы занятия в этом же архиве. Запись занятия можно скачать
                    <a href="https://cloud.mail.ru/public/fxEQ/gEovjNXES" target="_blank"><b>по этой ссылке</b></a>.
                </p>
            </div>
        </div>
    </div>
    <!-- #endregion -->
</section>

{% include '_footer.html' %}
